body {
	height: 90vh;
	background-color: rgb(160, 198, 214);
	font-size: 20px;
	font-family: Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1 {
	font-family: 'Dancing Script';
	font-size: 60px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#hands {
	display: flex;
	align-items: center;
}

.vs {
	margin: 0 50px;
	font-size: 36px;
	font-weight: 700;
}

.buttons {
	margin-top: auto;
}

.buttons button {
	width: 140px;
	height: 140px;
	margin: 24px 12px 0;
	padding: 4px;
}

#Rock {
	background-image: url(./img/r_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#Paper {
	background-image: url(./img/p_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#Scissors {
	background-image: url(./img/s_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#score {
	font-size: 46px;
}

.result {
	font-size: 26px;
	margin: 24px;
}

.end-result {
	margin: 24px;
	font-size: 36px;
}

.reset {
	margin-top: auto;
	font-size: 20px;
	padding: 8px 16px;
}