body {
	height: 90vh;
	background-color: rgb(160, 198, 214);
	font-family: Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

div {
	margin: 8px;
}

h1 {
	font-family: 'Dancing Script';
	font-size: 48px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.buttons {
	margin-top: auto;
}

.buttons button {
	width: 80px;
	height: 80px;
	margin: 24px 12px 0;
	font-size: 60px;
	padding: 4px;
}

#Rock {
	background-image: url(./img/r_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#Paper {
	background-image: url(./img/p_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#Scissors {
	background-image: url(./img/s_icon.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-origin: content-box, padding-box;
}

#score {
	font-size: 32px;
}

.selection {
	display: flex;
	justify-content: center;
	align-items: center;
}

.player,
.computer {
	width: 150px;
}

.result {
	margin: 12px;
}

.end-result {
	margin-top: 32px;
}

.result-text {
	font-size: 20px;
}

.reset {
	padding: 8px 16px;
}